
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:"Playfair Display";
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

nav {
  background-color:rgb(33, 95, 48) ;
  padding: 15px 30px;
  color:#222222 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.nav-container .logo {
  font-size: 50px;
   gap: 0; 
  font-weight: bold;
  color:#DBFFCB;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-container .logo:hover{
  color: #A3FF8F;
  transform: scale(1.05);

}

.nav-links {
  font-size: 20px;
  color: white;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 30px;
  justify-content: right;
  padding-top: 0px; 
  margin-bottom: 25px;


}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight:400;
   margin-bottom: -5px;
}

.nav-links a:hover {
  color: #A3FF8F ;
  text-decoration: underline;

}
.cart-icon {
  position: relative;
  font-size: 24px;
  color: #4CAF50;
  margin-left: 10px;
  transition: 0.3s;
  box-shadow:0 0 20px #A3FF8F ;
  border-radius: 90%;
  
}
.cart-icon::after {
  content: attr(data-count);
  position: absolute;
  top: -6px;
  right: -10px;
  background: rgb(247, 22, 22);
  color: #fff;
  font-size: 12px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
}
.text{
  
}

.hero {
  background: linear-gradient(135deg, #E9F5BE, #A7C957);
  backdrop-filter: blur(8px);
  padding: 60px 30px;
  text-align: center;
  border-radius: 40%;
  border: 3px double #2E7D32;
}

.hero .section-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #2e7d32;
  
}

.hero .section-header p {
  font-size: 1.125rem;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
  color:rgb(151, 129, 153);
} 

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;

}

.hero-text h1 {
  font-family:"Playfair Display";
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #388e3c;
}

.hero-text p {
  font-size: 1.125rem;
  max-width: 400px;
  margin-bottom: 30px;
  color:rgb(151, 129, 153);
}

.hero-image img{
   border-radius: 70%;
   
}

.cta-button {
    width: 100px;
    height: 40px;
    background-color: #f8faf8ff;
    color:#388e3c;
    margin-top: 13px;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    padding: 12px 24px;
    box-shadow:0 0 15px #388e3c;
    border: 2px solid rgb(230, 238, 230);
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.cta-button:hover {
  color: #E9F5BE;
  background-color: #2e7d32;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

@media (min-width: 900px) {
  .plant-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.plant-card {
  background-color:#ecfccb;
  padding: 10px;
  border-radius: 70px;
  box-shadow: 0 0 20px #B2CD9C;
  overflow: hidden;
  transition: transform 0.5s;

}

.plant-card:hover {
  transform: translateY(-5px);
}

.plant-image img {
  width: 100%;
  height: 200%;
  object-fit: cover;
  display: block;
  border-radius: 90px;
  box-shadow: 0 0 20px #B2CD9C;
  margin:0;
  
}

.plant-details {
  padding: 20px;
}

.plant-name {
  font-size: 1.3rem;
  color: #2e7d32;
  margin-bottom: 10px;
}


.plant-description { 
  font-size: 1.125rem;
  margin-bottom: 15px;
   color:#222222;
  
}

::selection {
background-color: #E9F5BE;
 color: #2e7d32;        
}


.plant-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plant-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #388e3c;
  cursor: pointer;
  background-color: #E9F5BE; 
  box-shadow:0 0 20px #388e3c;
  border-radius: 100px;
} 


.plant-price:hover {
  color: #2e7d32;
}
.add-to-cart {
  background-color:  #2e7d32;
  border: 1px solid rgb(230, 238, 230);
  color: #E9F5BE;
  padding: 8px 14px;
  border-radius: 2px;
  box-shadow:0 0 20px #388e3c;
  cursor: pointer;

}

.add-to-cart:hover {
  border-radius: 15px;
  background-color:#ecfccb;
   color: #388e3c;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 30px;
  background-color:#ecfccb; 
  border-radius: 5px;
  box-shadow:0 0 40px #388e3c;
  
}

.about-img img {
  max-width: 100%;
  border-radius: 90px;
   box-shadow:0 0 25px #388e3c;
  
}

.about-text {
  flex: 1;
  padding: 90px;

}

.about-text span {
  color: #66bb6a;
  font-weight: bold;
  font-size: 45px;
  background-color: #ecfccb;
  border: 2px solid rgb(230, 238, 230);
  border-bottom-left-radius: 40px;
  box-shadow:0 0 70px #388e3c;
}

.about-text h2 {
  font-size: 2rem;
  margin: 20px 0;
  color:rgb(151, 129, 153);
  margin-bottom: 10px;
}


.about-text p {
  margin-bottom: 20px;
  color: #626F47;
  font-size: 18px;
  font-weight: bold;
}

.about .btn {
  display: inline-block;
  background-color: #66bb6a;
  color: white;
  padding: 10px 20px;
  border-bottom-right-radius: 50px;
  text-decoration: none;
}

.about .btn:hover {
  background-color: #ecfccb;
  box-shadow:0 0 50px #388e3c;
  color: #66bb6a;
}

.floral-club {
  background-image: url('https://www2.0zz0.com/2025/05/23/23/514223546.jpg');
  color: white;
  padding: 100px 0;
  border-radius: 5px;
  box-shadow:0 0 20px #ecfccb;
}

.floral-club-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.floral-club-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
}

.floral-club input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #388e3c;
  box-shadow:0 0 10px #ecfccb;
  font-size: 1rem;
}

.floral-club button {
  background-color:#388e3c ;
  color: #ecfccb;
  border: 0.5px solid rgb(230, 238, 230);
  border-radius: 50px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family:"Playfair Display";
  cursor: pointer;
  
}

.floral-club button:hover {
  background-color:#ecfccb;
  color: #388e3c;
  box-shadow:0 0 10px #388e3c;
}

h2{
color:#ecfccb;

}

p{
font-size: 18px; 
color:#ecfccb;

}

h2:hover{
color: #388e3c;
cursor: pointer;

}


.logo {
  margin-top: 30px; 
  display: inline-block;

}

.logo:hover{
color: #78c57cff;

}

footer {
  color:#ecfccb; 
  padding: 10px 0 1px;
}

footer :hover{
  color:rgb(230, 238, 230);
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 40px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 30px; 
  
  
}

.social-icon {
  width: 40px;
  height: 40px;
  color:#388e3c;
  background-color: #ecfccb;
  box-shadow:0 0 20px #ecfccb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.social-icon:hover {
 color:#388e3c;
 box-shadow:0 0 30px #ecfccb; 

}

.footer-links h3 {
  margin-bottom: 20px;
  margin-top: -25px; 
  font-size: 1.5rem;
  color: #F7F7F7;
  cursor: pointer;
}

 h3:hover{
 color:#ecfccb; 

}


.footer-links ul {
  list-style: none;
  
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  font-size: 20px;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  transition: opacity 0.3s;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-bottom {
  text-align: center;
  padding-top: 30px;
  border-top: 2px solid #ecfccb; 
  opacity: 0.7;
  font-size: 18px;
 
  
}
  .footer-bottom p{
  margin-top: -25px; 
  border: 5px ridge #ecfccb;
  }












